*{
  margin: 5px;
  padding: 5px;
}
body{
    background-color: yellow;
}
.padre{
    background-color: rgb(255, 0, 200);
    padding: 7px;
    width: auto;
    height: 450px;

}
.titulo{
    background-color: yellow;

}
.menu{
    background-color: rgb(223, 145, 1);


}
.contenido{
    background-color: azure;
    height: 350px;

}
.pie{
    background-color: rgb(192, 226, 43);

}
.ca1{
   background-color: red;
   width: 50px;
   height: 50px;
   position: fixed;
   /*top:50px;
   left:100px;*/
   bottom: 50px;
   right: 50px;
}
.ca2{
    background-color: yellow;
    width: 50px;
   height: 50px;
   position: absolute;
   top: 100px;
   right: 100px;
}
.ca22{
    background-color: black;
    width: auto;
    height: 30px;
}
.ca3{
    background-color: green;
    width: 50px;
   height: 50px;
   position: relative;
   top: 50px;
}
.c4{
  background-color: darkcyan;
  width: 50px;
   height: 50px;
   /*position: relative;
   top: 50px;
   left: 200px;*/
   position: sticky;
   top: 150px;

}
.ca12{
    background-color: rgb(236, 248, 64);
    width: 170px;
   height: 170px;
   position: relative;
   top: 50px;
   left: 400px; 
}
.ca13{
background-color: black;
width: 50px;
    height: 50px;
}
.ca14{
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 0px;

}
.ca15{
    background-color: black;
    width: 80px;
    height: 20px;
    position: relative;
    top: 50px;
    left: 30px;

}